.container{
  background-color: #7C1BC2;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  background-color: rgba(255, 0, 0, 0);
  border: none;
  outline:none;
}

img:hover{
  border-color: blue;
}